.line-action {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 2px;
}

/* 动作 */
.icon-pause {
    background: url('icons/action/pause.png') no-repeat;
}

.icon-resume {
    background: url('icons/action/resume.png') no-repeat;
}

.icon-contract {
    background: url('icons/action/contract.png') no-repeat;
}

.icon-switch {
    background: url('icons/action/switch.png') no-repeat;
}

.icon-audit {
    background: url('icons/action/audit.png') no-repeat;
}

.icon-audit-ok {
    background: url('icons/action/audit-ok.png') no-repeat;
}

.icon-audit-no {
    background: url('icons/action/audit-no.png') no-repeat;
}

.icon-disable {
    background: url('icons/action/disable.png') no-repeat;
}

.icon-enable {
    background: url('icons/action/enable.png') no-repeat;
}

.icon-add {
    background: url('icons/action/add.png') no-repeat;
}

.icon-edit {
    background: url('icons/action/edit.png') no-repeat;
}

.icon-editpswd {
    background: url('icons/action/edit_pswd.png') no-repeat;
}

.icon-password {
    background: url('icons/action/passwd.png') no-repeat;
}

.icon-save {
    background: url('icons/action/save.png') no-repeat;
}

.icon-delete {
    background: url('icons/action/delete.png') no-repeat;
}

.icon-remove {
    background: url('icons/action/delete.png') no-repeat;
}

.icon-show {
    background: url('icons/action/show.png') no-repeat;
}

.icon-search {
    background: url('icons/action/search.png') no-repeat;
}

.icon-import {
    background: url('icons/action/import.png') no-repeat;
}

.icon-export {
    background: url('icons/action/export.png') no-repeat;
}

.icon-moveup {
    background: url('icons/action/moveup.png') no-repeat;
}

.icon-movedown {
    background: url('icons/action/movedown.png') no-repeat;
}

.icon-movetop {
    background: url('icons/action/movetop.png') no-repeat;
}

.icon-movebotton {
    background: url('icons/action/movebotton.png') no-repeat;
}

.icon-play {
    background: url('icons/action/play.png') no-repeat;
}

.icon-upload {
    background: url('icons/action/upload.png') no-repeat;
}

.icon-download {
    background: url('icons/action/download.png') no-repeat;
}

.icon-yes {
    background: url('icons/action/yes.png') no-repeat;
}

.icon-no {
    background: url('icons/action/no.png') no-repeat;
}

.icon-cancel {
    background: url('icons/action/cancel.png') no-repeat;
}

.icon-refresh {
    background: url('icons/action/reload.png') no-repeat;
}

.icon-reload {
    background: url('icons/action/reload.png') no-repeat;
}

.icon-chart {
    background: url('icons/action/chart.png') repeat;
}

.icon-world {
    background: url('icons/action/world.png') no-repeat;
}

.icon-tag {
    background: url('icons/action/tag.png') no-repeat;
}

.icon-resource {
    background: url('icons/action/resource.png') no-repeat;
}

.icon-menu {
    background: url('icons/action/menu.png') no-repeat;
}

.icon-monitor {
    background: url('icons/action/monitor.png') no-repeat;
}

.icon-bag {
    background: url('icons/action/bag.png') no-repeat;
}

.icon-calendar {
    background: url('icons/action/calendar.png') no-repeat;
}

.icon-home {
    background: url('icons/action/home.png') no-repeat;
}

.icon-option {
    background: url('icons/action/option.png') no-repeat;
}

.icon-phone {
    background: url('icons/action/phone.png') no-repeat;
}

.icon-role {
    background: url('icons/action/role.png') no-repeat;
}

.icon-user {
    background: url('icons/action/user.png') no-repeat;
}

.icon-setting {
    background: url('icons/action/setting.png') no-repeat;
}

.icon-star {
    background: url('icons/action/star.png') no-repeat;
}

.icon-nav {
    background: url('icons/action/nav.png') no-repeat;
}

.icon-logout {
    background: url('icons/action/logout.png') no-repeat;
}

.icon-login {
    background: url('icons/action/login.png') no-repeat;
}

.icon-lock {
    background: url('icons/action/lock.png') no-repeat;
}

.icon-key {
    background: url('icons/action/key.png') no-repeat;
}

/** 文件 */
.icon-excel {
    background: url('icons/file/excel.png') no-repeat;
}

.icon-word {
    background: url('icons/file/excel.png') no-repeat;
}

.icon-csv {
    background: url('icons/file/csv.png') no-repeat;
}

/* 资源菜单 */
.icons-resource-android {
    background: url('icons/resource/android.png') no-repeat;
}

.icons-resource-androidcyc {
    background: url('icons/resource/androidcyc.png') no-repeat;
}

.icons-resource-app {
    background: url('icons/resource/app.png') no-repeat;
}

.icons-resource-app1 {
    background: url('icons/resource/app1.png') no-repeat;
}

.icons-resource-apple {
    background: url('icons/resource/apple.png') no-repeat;
}

.icons-resource-ipad {
    background: url('icons/resource/ipad.png') no-repeat;
}

.icons-resource-iphone {
    background: url('icons/resource/iphone.png') no-repeat;
}

.icons-resource-mac {
    background: url('icons/resource/mac.png') no-repeat;
}

.icons-resource-basket {
    background: url('icons/resource/basket.png') no-repeat;
}

.icons-resource-bell {
    background: url('icons/resource/bell.png') no-repeat;
}

.icons-resource-book {
    background: url('icons/resource/book.png') no-repeat;
}

.icons-resource-book-open {
    background: url('icons/resource/book_open.png') no-repeat;
}

.icons-resource-box {
    background: url('icons/resource/box.png') no-repeat;
}

.icons-resource-bricks {
    background: url('icons/resource/bricks.png') no-repeat;
}

.icons-resource-building {
    background: url('icons/resource/building.png') no-repeat;
}

.icons-resource-cake {
    background: url('icons/resource/cake.png') no-repeat;
}

.icons-resource-camera {
    background: url('icons/resource/camera.png') no-repeat;
}

.icons-resource-cart {
    background: url('icons/resource/cart.png') no-repeat;
}

.icons-resource-chart-bar {
    background: url('icons/resource/chart_bar.png') no-repeat;
}

.icons-resource-chart-curve {
    background: url('icons/resource/chart_curve.png') no-repeat;
}

.icons-resource-chart-organisation {
    background: url('icons/resource/chart_organisation.png') no-repeat;
}

.icons-resource-chart-pie {
    background: url('icons/resource/chart_pie.png') no-repeat;
}

.icons-resource-clock {
    background: url('icons/resource/clock.png') no-repeat;
}

.icons-resource-cog {
    background: url('icons/resource/cog.png') no-repeat;
}

.icons-resource-coins {
    background: url('icons/resource/coins.png') no-repeat;
}

.icons-resource-color-swatch {
    background: url('icons/resource/color_swatch.png') no-repeat;
}

.icons-resource-compress {
    background: url('icons/resource/compress.png') no-repeat;
}

.icons-resource-computer {
    background: url('icons/resource/computer.png') no-repeat;
}

.icons-resource-computer-key {
    background: url('icons/resource/computer_key.png') no-repeat;
}

.icons-resource-connect {
    background: url('icons/resource/connect.png') no-repeat;
}

.icons-resource-control-play-blue {
    background: url('icons/resource/control_play_blue.png') no-repeat;
}

.icons-resource-control-stop-blue {
    background: url('icons/resource/control_stop_blue.png') no-repeat;
}

.icons-resource-cup {
    background: url('icons/resource/cup.png') no-repeat;
}

.icons-resource-database-key {
    background: url('icons/resource/database_key.png') no-repeat;
}

.icons-resource-disconnect {
    background: url('icons/resource/disconnect.png') no-repeat;
}

.icons-resource-disk {
    background: url('icons/resource/disk.png') no-repeat;
}

.icons-resource-drink {
    background: url('icons/resource/drink.png') no-repeat;
}

.icons-resource-drive {
    background: url('icons/resource/drive.png') no-repeat;
}

.icons-resource-drive-web {
    background: url('icons/resource/drive_web.png') no-repeat;
}

.icons-resource-eye {
    background: url('icons/resource/eye.png') no-repeat;
}

.icons-resource-feed {
    background: url('icons/resource/feed.png') no-repeat;
}

.icons-resource-folder {
    background: url('icons/resource/folder.png') no-repeat;
}

.icons-resource-folder-add {
    background: url('icons/resource/folder_add.png') no-repeat;
}

.icons-resource-folder-explore {
    background: url('icons/resource/folder_explore.png') no-repeat;
}

.icons-resource-folder-magnify {
    background: url('icons/resource/folder_magnify.png') no-repeat;
}

.icons-resource-font {
    background: url('icons/resource/font.png') no-repeat;
}

.icons-resource-group {
    background: url('icons/resource/group.png') no-repeat;
}

.icons-resource-heart {
    background: url('icons/resource/heart.png') no-repeat;
}

.icons-resource-help {
    background: url('icons/resource/help.png') no-repeat;
}

.icons-resource-hourglass {
    background: url('icons/resource/hourglass.png') no-repeat;
}

.icons-resource-house {
    background: url('icons/resource/house.png') no-repeat;
}

.icons-resource-ipod {
    background: url('icons/resource/ipod.png') no-repeat;
}

.icons-resource-lightbulb {
    background: url('icons/resource/lightbulb.png') no-repeat;
}

.icons-resource-lock {
    background: url('icons/resource/lock.png') no-repeat;
}

.icons-resource-lorry {
    background: url('icons/resource/lorry.png') no-repeat;
}

.icons-resource-money {
    background: url('icons/resource/money.png') no-repeat;
}

.icons-resource-money-yen {
    background: url('icons/resource/money_yen.png') no-repeat;
}

.icons-resource-monitor {
    background: url('icons/resource/monitor.png') no-repeat;
}

.icons-resource-music {
    background: url('icons/resource/music.png') no-repeat;
}

.icons-resource-note {
    background: url('icons/resource/note.png') no-repeat;
}

.icons-resource-palette {
    background: url('icons/resource/palette.png') no-repeat;
}

.icons-resource-shape-align-bottom {
    background: url('icons/resource/shape_align_bottom.png') no-repeat;
}

.icons-resource-shape-rotate-anticlockwise {
    background: url('icons/resource/shape_rotate_anticlockwise.png') no-repeat;
}

.icons-resource-shape-square {
    background: url('icons/resource/shape_square.png') no-repeat;
}

.icons-resource-shield {
    background: url('icons/resource/shield.png') no-repeat;
}

.icons-resource-sitemap-color {
    background: url('icons/resource/sitemap_color.png') no-repeat;
}

.icons-resource-text-dropcaps {
    background: url('icons/resource/text_dropcaps.png') no-repeat;
}

.icons-resource-time {
    background: url('icons/resource/time.png') no-repeat;
}

.icons-resource-transmit {
    background: url('icons/resource/transmit.png') no-repeat;
}

.icons-resource-wrench-orange {
    background: url('icons/resource/wrench_orange.png') no-repeat;
}

.icons-resource-zoom {
    background: url('icons/resource/zoom.png') no-repeat;
}

/* 投资业务 */
.icons-resource-huoqilicai {
    background: url('icons/resource/huoqilicai.png') no-repeat;
}

.icons-resource-6 {
    background: url('icons/resource/6.png') no-repeat;
}

.icons-resource-access-user {
    background: url('icons/resource/access_user.png') no-repeat;
}

.icons-resource-admin {
    background: url('icons/resource/admin.png') no-repeat;
}

.icons-resource-anli {
    background: url('icons/resource/anli.png') no-repeat;
}

.icons-resource-anli1 {
    background: url('icons/resource/anli1.png') no-repeat;
}

.icons-resource-benqihuankuan {
    background: url('icons/resource/benqihuankuan.png') no-repeat;
}

.icons-resource-bianmin {
    background: url('icons/resource/bianmin.png') no-repeat;
}

.icons-resource-biao {
    background: url('icons/resource/biao.png') no-repeat;
}

.icons-resource-caozuorizhichaxun {
    background: url('icons/resource/caozuorizhichaxun.png') no-repeat;
}

.icons-resource-changjianwenti {
    background: url('icons/resource/changjianwenti.png') no-repeat;
}

.icons-resource-chongzhi {
    background: url('icons/resource/chongzhi.png') no-repeat;
}

.icons-resource-chongzhi1 {
    background: url('icons/resource/chongzhi1.png') no-repeat;
}

.icons-resource-choujiang {
    background: url('icons/resource/choujiang.png') no-repeat;
}

.icons-resource-choujiang1 {
    background: url('icons/resource/choujiang1.png') no-repeat;
}

.icons-resource-choujiang2 {
    background: url('icons/resource/choujiang2.png') no-repeat;
}

.icons-resource-dailishang {
    background: url('icons/resource/dailishang.png') no-repeat;
}

.icons-resource-dengebenxihuankuanbiao {
    background: url('icons/resource/dengebenxihuankuanbiao.png') no-repeat;
}

.icons-resource-dingdan {
    background: url('icons/resource/dingdan.png') no-repeat;
}

.icons-resource-dingdan1 {
    background: url('icons/resource/dingdan1.png') no-repeat;
}

.icons-resource-diyabiao {
    background: url('icons/resource/diyabiao.png') no-repeat;
}

.icons-resource-fabujiekuan {
    background: url('icons/resource/fabujiekuan.png') no-repeat;
}

.icons-resource-fangdaozhuomian {
    background: url('icons/resource/fangdaozhuomian.png') no-repeat;
}

.icons-resource-guanggao {
    background: url('icons/resource/guanggao.png') no-repeat;
}

.icons-resource-guanyuwomen {
    background: url('icons/resource/guanyuwomen.png') no-repeat;
}

.icons-resource-guanyuwomen1 {
    background: url('icons/resource/guanyuwomen1.png') no-repeat;
}

.icons-resource-hezuo {
    background: url('icons/resource/hezuo.png') no-repeat;
}

.icons-resource-huankuanguanli {
    background: url('icons/resource/huankuanguanli.png') no-repeat;
}

.icons-resource-huankuankuan {
    background: url('icons/resource/huankuankuan.png') no-repeat;
}

.icons-resource-hudongchoujiang {
    background: url('icons/resource/hudongchoujiang.png') no-repeat;
}

.icons-resource-huoqilicai2 {
    background: url('icons/resource/huoqilicai2.png') no-repeat;
}

.icons-resource-icon {
    background: url('icons/resource/icon.png') no-repeat;
}

.icons-resource-icon12fuben {
    background: url('icons/resource/icon12fuben.png') no-repeat;
}

.icons-resource-iconfontcolor28 {
    background: url('icons/resource/iconfontcolor28.png') no-repeat;
}

.icons-resource-iconfontliushuizijin {
    background: url('icons/resource/iconfontliushuizijin.png') no-repeat;
}

.icons-resource-jiekuan1 {
    background: url('icons/resource/jiekuan1.png') no-repeat;
}

.icons-resource-jiekuanbiaoxinxi {
    background: url('icons/resource/jiekuanbiaoxinxi.png') no-repeat;
}

.icons-resource-jiekuanhetongguanli {
    background: url('icons/resource/jiekuanhetongguanli.png') no-repeat;
}

.icons-resource-jiekuanxiangqing {
    background: url('icons/resource/jiekuanxiangqing.png') no-repeat;
}

.icons-resource-jinbizhuanchu {
    background: url('icons/resource/jinbizhuanchu.png') no-repeat;
}

.icons-resource-jinbizhuanru {
    background: url('icons/resource/jinbizhuanru.png') no-repeat;
}

.icons-resource-jingjirenfuzhi {
    background: url('icons/resource/jingjirenfuzhi.png') no-repeat;
}

.icons-resource-jingxiaoshang {
    background: url('icons/resource/jingxiaoshang.png') no-repeat;
}

.icons-resource-kehuguanli {
    background: url('icons/resource/kehuguanli.png') no-repeat;
}

.icons-resource-lianxiwomen {
    background: url('icons/resource/lianxiwomen.png') no-repeat;
}

.icons-resource-meiyuehuankuan {
    background: url('icons/resource/meiyuehuankuan.png') no-repeat;
}

.icons-resource-meiyuehuankuan1 {
    background: url('icons/resource/meiyuehuankuan1.png') no-repeat;
}

.icons-resource-shezhi {
    background: url('icons/resource/shezhi.png') no-repeat;
}

.icons-resource-shezhi1 {
    background: url('icons/resource/shezhi1.png') no-repeat;
}

.icons-resource-shimingrenzheng {
    background: url('icons/resource/shimingrenzheng.png') no-repeat;
}

.icons-resource-shimingrenzheng1 {
    background: url('icons/resource/shimingrenzheng1.png') no-repeat;
}

.icons-resource-shimingrenzheng3 {
    background: url('icons/resource/shimingrenzheng3.png') no-repeat;
}

.icons-resource-shoukuan {
    background: url('icons/resource/shoukuan.png') no-repeat;
}

.icons-resource-shouye {
    background: url('icons/resource/shouye.png') no-repeat;
}

.icons-resource-shouyeshouye {
    background: url('icons/resource/shouyeshouye.png') no-repeat;
}

.icons-resource-shouyi {
    background: url('icons/resource/shouyi.png') no-repeat;
}

.icons-resource-shouzhimingxi {
    background: url('icons/resource/shouzhimingxi.png') no-repeat;
}

.icons-resource-shujutongji {
    background: url('icons/resource/shujutongji.png') no-repeat;
}

.icons-resource-smses-send {
    background: url('icons/resource/smses_send.png') no-repeat;
}

.icons-resource-tixian {
    background: url('icons/resource/tixian.png') no-repeat;
}

.icons-resource-tiyanbiao {
    background: url('icons/resource/tiyanbiao.png') no-repeat;
}

.icons-resource-tongji {
    background: url('icons/resource/tongji.png') no-repeat;
}

.icons-resource-tongji1 {
    background: url('icons/resource/tongji1.png') no-repeat;
}

.icons-resource-tongjibaobiao {
    background: url('icons/resource/tongjibaobiao.png') no-repeat;
}

.icons-resource-tongjixinxi {
    background: url('icons/resource/tongjixinxi.png') no-repeat;
}

.icons-resource-wangzhan {
    background: url('icons/resource/wangzhan.png') no-repeat;
}

.icons-resource-wangzhan1 {
    background: url('icons/resource/wangzhan1.png') no-repeat;
}

.icons-resource-wodejiekuan {
    background: url('icons/resource/wodejiekuan.png') no-repeat;
}

.icons-resource-zhanghuyue {
    background: url('icons/resource/zhanghuyue.png') no-repeat;
}

.icons-resource-zhongjiangjilu {
    background: url('icons/resource/zhongjiangjilu.png') no-repeat;
}

.icons-resource-zhuanzhang {
    background: url('icons/resource/zhuanzhang.png') no-repeat;
}

.icons-resource-zhuanzhang1 {
    background: url('icons/resource/zhuanzhang1.png') no-repeat;
}

.icons-resource-zhuanzhang2 {
    background: url('icons/resource/zhuanzhang2.png') no-repeat;
}

.icons-resource-zidonghuankuan {
    background: url('icons/resource/zidonghuankuan.png') no-repeat;
}

.icons-resource-banner {
    background: url('icons/resource/banner.png') no-repeat;
}

.icons-resource-banner1 {
    background: url('icons/resource/banner1.png') no-repeat;
}

.icons-resource-aboutus {
    background: url('icons/resource/aboutus.png') no-repeat;
}

.icons-resource-contactus {
    background: url('icons/resource/contactus.png') no-repeat;
}

.icons-resource-faq {
    background: url('icons/resource/faq.png') no-repeat;
}

.icons-resource-friend {
    background: url('icons/resource/friend.png') no-repeat;
}

.icons-resource-news {
    background: url('icons/resource/news.png') no-repeat;
}

.icons-resource-partner {
    background: url('icons/resource/partner.png') no-repeat;
}

.icons-resource-notice {
    background: url('icons/resource/notice.png') no-repeat;
}