body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft YaHei", "WenQuanYi Micro Hei";
    background: #007cd9 url(/manage/assert/image/white-bg.png) no-repeat center bottom;
    background-size: contain;
    height: 100%;
}

.inner-bg {
    padding: 100px 0 170px 0;
}

.top-content .text {
    color: #fff;
}

.top-content .text h1 {
    color: #fff;
}

.top-content .description {
    margin: 20px 0 10px 0;
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .description a {
    color: #fff;
}

.top-content .description a:hover,
.top-content .description a:focus {
    border-bottom: 1px dotted #fff;
}

.form-box {
    margin-top: 35px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 5px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 85%;
    padding-top: 25px;
}

.form-top-left h3 {
    margin-top: 0;
}

.form-top-right {
    float: left;
    width: 15%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form #jcaptchaImage {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 5px;
}

.form-bottom form button.btn {
    width: 100%;
}

.form-bottom form .input-error {
    border-color: #EC9B28;
    border-width: 2px;
}

.form-bottom form .form-captcha {
    width: 35%;
    display: inline-block;
}

.form-bottom form .form-smscaptcha {
    width: 65%;
    display: inline-block;
}

.login-footer {
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    line-height: 40px;
    color: #70b4ef;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
    .inner-bg {
        padding: 60px 0 110px 0;
    }
}

@media (max-width: 415px) {
    h1, h2 {
        font-size: 32px;
    }

.ac-login-page {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}